

<app-taller-info
  [titulo]="'TALLER DE MARIMBA'"
  [imagen]="'assets/carrusel 3.jpg'"
  [descripcion]="'Nuestro taller de marimba tiene como misión preservar y difundir este patrimonio musical mediante la enseñanza técnica y cultural del instrumento. Buscamos formar músicos integrales que dominen la ejecución, el ritmo y la tradición de la marimba, fomentando valores como el trabajo en equipo, la disciplina y el amor por nuestras raíces musicales.A través de un método práctico y adaptado a todas las edades, enseñamos desde lo básico hasta el nivel avanzado, preparando a los alumnos para presentaciones artísticas. Queremos que cada nota sea un puente entre generaciones, manteniendo viva esta expresión cultural que nos identifica.'"
  [instructor]="'Heriberto Alberto Robles Santiago'"
  [profesion]="'Maestría en música con especialización en guitarra'"
  [imagenInstructor]="'assets/profe marimbajpg.jpg'"
  [horarios]="[
  ['Martes', 'Jueves'],
  [
    '4:00 PM – 6:00 PM',
    '4:00 PM – 6:00 PM'
  ]
]"

></app-taller-info>


