<div class="nosotros-container">
  <section class="banner-img">
    <img src="https://lh3.googleusercontent.com/pw/AP1GczMmGb_v3SFMFldl55QFNRoGJJi7MyZn53TLbBzW71hFPF_oSbX_9yatHP0LedvSlm8gx48rafX4m_kysQjatJbLoaxNcynm0qSP3XC1cX-6xar2ExOVZHfrIW5eI15LaXoruLsnnpjKskMAsFejvOp40w=w1324-h923-s-no-gm?authuser=0" alt="Banner Acerca de Nosotros" />
  </section>

  <section class="quienes-somos">
    <h2>¿Quiénes Somos ?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
  </section>

  <section class="mision-vision-valores">
    <div class="bloque">
      <h3>Misión</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    </div>
    <div class="bloque">
      <h3>Visión</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    </div>
    <div class="bloque">
      <h3>Valores</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    </div>
  </section>

  <section class="equipo-trabajo">
    <h3>Equipo de trabajo</h3>
    <img src="https://lh3.googleusercontent.com/pw/AP1GczPFNVmbhD9ZQi4qsT0XIObphKMVYo1Bu8pdjMLosKNpnxiKVvvWGnJ2J9D8jScomqELrNCy2yT9gEs2qOrTPBL8ZWNAEgzgbMa6A-G6neRwpa6WGIHwkLa91n4p7Za4nwfH-Hd5NN73L04HodzrdOYw2g=w1384-h923-s-no-gm?authuser=0" />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
  </section>
</div>

