

<app-taller-info
  [titulo]="'TALLER DE DANZA FOLCLÓRICA'"
  [imagen]="'assets/dance.png'"
  [descripcion]="'Nuestro taller de danza folclórica se dedica a preservar y difundir el patrimonio dancístico de México a través de la enseñanza de bailes tradicionales. Buscamos desarrollar habilidades artísticas y motrices mientras fomentamos valores como disciplina, trabajo en equipo y orgullo por nuestras raíces culturales.Ofrecemos una formación integral que incluye técnica, coreografía auténtica y preparación para presentaciones, adaptándonos a todas las edades y niveles. Más que aprender pasos, creamos un espacio donde cada movimiento celebra la riqueza de nuestras tradiciones y fortalece nuestra identidad comunitaria.'"
  [instructor]="'Abdel Ulises Pérez García '"
  [imagenInstructor]="''"
  [horarios]="[['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes'], ['4PM', '4PM', '4PM', '4PM', '4PM']]"
></app-taller-info>

