<div class="estatus-container">
  <div class="tarjeta">
    <h2 class="titulo">Status de reinscripcion</h2>

    <p>
      ¡Gracias por tu interés en la <strong><em>Casa de la Cultura Huitztli</em></strong>!
    </p>

    <p>
      Estás a un paso de a completar el registro de tu <em><strong>inscripción</strong></em> en alguno de nuestros talleres.
    </p>

    <p>
      Pronto un administrador revisará tu solicitud.
    </p>

    <p class="estado-texto"><strong>Estado</strong></p>
    <p class="estado-pendiente">PENDIENTE POR REVISAR</p>

<div class="acciones">
  <button routerLink="/mis-pagos" class="btn btn-lg btn-pagos">
    Ver mis pagos
  </button>


</div>


  </div>
</div>

