

<app-taller-info
  [titulo]="'TALLER DE MUSICA Y SOLFEO'"
  [imagen]="'assets/solfeo.png'"
  [descripcion]="'Nuestro taller de música y solfeo tiene como objetivo brindar una formación musical integral que combine el desarrollo teórico con la práctica auditiva y rítmica. A través de un método pedagógico estructurado, enseñamos los fundamentos del lenguaje musical (lectura de partituras, entonación, ritmo y dictado) para sentar las bases necesarias en el dominio de cualquier instrumento.Dirigido a principiantes y músicos en formación, nuestro objetivo es que cada alumno adquiera las herramientas para interpretar, crear y apreciar la música con sensibilidad y precisión técnica.'"
  [instructor]="'Guillermo Valencia Gutiérrez'"
  [imagenInstructor]="'https://lh3.googleusercontent.com/pw/AP1GczPkFHalB_zCxuGVDnnEMSGx1oEdANiMS2fztVbyGBZL6-fHyjX8ZbVjoyTL0RwceSCqlIRb_QT43m4Wf1VDT-S204talBJGJrsvxrdgrkfFNNBZxZvEqYd8gR9MRTfVjlIslyrQbv0YvnRt6p5InnfMGA=w691-h923-s-no-gm?authuser=0'"
  [horarios]="[['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes'], ['4PM', '4PM', '4PM', '4PM', '4PM']]"
></app-taller-info>


