

<app-taller-info
  [titulo]="'Taller de Guitarra'"
  [imagen]="'assets/carrusel 2.jpg'"
  [descripcion]="'Nuestro taller de guitarra tiene como objetivo principal fomentar el aprendizaje musical integral, brindando a los estudiantes las herramientas técnicas, teóricas y prácticas necesarias para dominar el instrumento. A través de un método personalizado y dinámico, buscamos desarrollar habilidades musicales, potenciar la creatividad y promover la expresión artística en un ambiente motivador e inclusivo. Dirigido a personas de todas las edades y niveles, nuestro taller no solo enseña a tocar la guitarra, sino que también cultiva el amor por la música y fortalece la confianza en el desempeño individual y grupal.'"
  [instructor]="'Carlos Manuel Ortiz Martínez '"
  [imagenInstructor]="'https://lh3.googleusercontent.com/pw/AP1GczPa_UPZMSlx4QA_cQgXnPFQ2XJJ70Mqlg_wVBt5so5tcs-NLiHh1QGrMTIUsVWM9ESWKmLqmOQdMVHeadXMIjW9OcCkS9YH74Zl_JK0bJwLoYTMG4mbVcWDIyXCmZEnXFQgwtAcpSYumCAYjo6bmvJzpA=w651-h923-s-no-gm?authuser=0'"
 [horarios]="[
  ['Lunes', 'Miércoles', 'Viernes'],
  ['5:00 PM – 6:00 PM / 6:00 PM – 7:30 PM', '5:00 PM – 6:00 PM / 6:00 PM – 7:30 PM', '5:00 PM – 6:00 PM / 6:00 PM – 7:30 PM']
]"


></app-taller-info>
