

<app-taller-info
  [titulo]="'TALLER DE DIBUJO Y PINTURA'"
  [imagen]="'assets/dibujo.png'"
  [descripcion]="'Nuestro taller de dibujo tiene como objetivo principal incentivar el desarrollo artístico y creativo de los participantes, brindándoles las bases técnicas, teóricas y prácticas necesarias para expresarse a través del arte. Mediante una metodología dinámica y personalizada, buscamos fortalecer habilidades como la observación, la composición y el manejo de diferentes técnicas gráficas, adaptándonos a todos los niveles, desde principiantes hasta avanzados.Dirigido a niños, jóvenes y adultos, nuestro propósito es que cada participante descubra el potencial de su talento artístico mientras disfruta del proceso de creación.'"
  [instructor]="'José Luis Santiago Cruz '"
  [profesion]="'Maestría en música con especialización en guitarra'"
  [imagenInstructor]="'https://lh3.googleusercontent.com/pw/AP1GczMB9MXCQuLhlAFTwZwPdQ9dhLmb0CC9x-rutzHCh4Me59loUhsHNTTsSFRevMhPNzvpkx83312soVNHAtwuweEF0b0lSpvu6wegdo7uG1PlUAZCXAuEGwuPwO9AHrrpCZ8T6t-4E2oc0z0WahMwdZsISg=w691-h923-s-no-gm?authuser=0'"
  [horarios]="[['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes'], ['4PM', '4PM', '4PM', '4PM', '4PM']]"
></app-taller-info>

