

<app-taller-info
  [titulo]="'TALLER DE DIBUJO INFANTIL'"
  [imagen]="'assets/Infantil.png'"
  [descripcion]="'El taller de Dibujo infantil tiene como objetivo principal despertar la imaginación y el amor por el arte en los más pequeños, a través de un espacio lúdico y estimulante donde puedan explorar libremente su creatividad. Utilizando técnicas adaptadas a su edad, buscamos desarrollar habilidades motrices, cognitivas y emocionales, mientras aprenden conceptos básicos de color, formas y trazos de manera divertida.Nuestra meta es que cada niño disfrute el proceso de creación, descubriendo el dibujo como una herramienta de diversión y aprendizaje, en un ambiente seguro, inclusivo y lleno de magia.'"
  [instructor]="'Francisco Merlín Soto'"
  [imagenInstructor]="'https://lh3.googleusercontent.com/pw/AP1GczMkdMWctwP7Dsci43f3jPL3Td8oTVkxg_qBtMOzjIiVLs1v31hsdwI7Z1a2EOO6WeSSw4lwrDVrVebUBoxXM0f1dBnH4DKflcSKYOkhtso2PXzKTAx2IBVuXlev-uW96NccmGp0Gyh8dvEwrEriRHlcGA=w691-h923-s-no-gm?authuser=0'"
  [horarios]="[['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes'], ['4PM', '4PM', '4PM', '4PM', '4PM']]"
></app-taller-info>

