

<app-taller-info
  [titulo]="'TALLER DE CERAMICA'"
  [imagen]="'assets/ceramica.png'"
  [descripcion]="''"
  [instructor]="'Filiberto Cruz Hernández '"
  [imagenInstructor]="'https://lh3.googleusercontent.com/pw/AP1GczOhBMDsDCuX-v0aa7mg9GjgTmdKFSMVyHkfWE8UV1YtZcI-8_iOBG-2dgXbXRNaGuqmkE7EdUCgKXxF9oaiqAaqG-QZTm33Gns0m1Ar3IE7vQJqhAntN2Kj5Jcy6JVIGddoynohWAcy5FrR5fI1bUjyGg=w691-h923-s-no-gm?authuser=0'"
  [horarios]="[['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes'], ['4PM', '4PM', '4PM', '4PM', '4PM']]"

></app-taller-info>

