

<app-taller-info
  [titulo]="'TALLER DE CERAMICA'"
  [imagen]="'assets/ceramica2jpg.jpg'"
  [descripcion]="'El Taller de Decoración en Cerámica tiene como propósito principal impulsar la creatividad y el desarrollo artístico de los participantes, enseñándoles a transformar piezas de cerámica en verdaderas obras de arte. A través de diversas técnicas de pintura, esmaltado y acabados, los alumnos aprenderán no solo a embellecer cada pieza, sino también a plasmar en ellas su estilo, emociones y cultura. Este taller busca despertar la sensibilidad estética, fomentar la paciencia y la atención al detalle, así como promover un espacio de convivencia y aprendizaje colaborativo donde cada creación sea una expresión única de identidad y talento.'"
  [instructor]="'Filiberto Cruz Hernández '"
  [imagenInstructor]="'https://lh3.googleusercontent.com/pw/AP1GczOhBMDsDCuX-v0aa7mg9GjgTmdKFSMVyHkfWE8UV1YtZcI-8_iOBG-2dgXbXRNaGuqmkE7EdUCgKXxF9oaiqAaqG-QZTm33Gns0m1Ar3IE7vQJqhAntN2Kj5Jcy6JVIGddoynohWAcy5FrR5fI1bUjyGg=w691-h923-s-no-gm?authuser=0'"
  [horarios]="[
  ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes'],
  [
    '5:00 PM – 8:00 PM',
    '5:00 PM – 8:00 PM',
    '5:00 PM – 8:00 PM',
    '5:00 PM – 8:00 PM',
    '5:00 PM – 8:00 PM'
  ]
]"


></app-taller-info>

