.carrusel {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.slide img {
  width: 100%;
  height: 60vh;       /* altura más pequeña que 100vh */
  object-fit: cover;  /* rellena sin deformar */
  display: block;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px 20px;
}

.noticia-card {
  width: 280px;
  background-color: #4F4D4D;
  border-radius: 12px;
}

.noticia-card mat-card-content p {
  color: white;  /* texto de descripción en blanco */
  text-align: center;  /* Centrado horizontal */
}

.titulo-noticias {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #D40840;
  margin: 24px 0;
  text-transform: uppercase;
}
