<h3 style="text-align: center; color: black;">FORMATO DE REINSCRIPCION</h3>

<!-- Selector de alumno -->
<div class="selector-alumno">
  <mat-form-field appearance="outline">
    <mat-label>Selecciona al alumno</mat-label>
    <mat-select [(ngModel)]="selectedAlumnoId" (selectionChange)="cargarAlumnoSeleccionado()">
      <mat-option *ngFor="let a of alumnos" [value]="a.id">
        {{ a.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>

<!-- Pasamos el alumnoId al componente de inscripción -->
<app-inscripcion [alumnoId]="selectedAlumnoId"></app-inscripcion>
