<app-taller-info
  [titulo]="'TALLER DE BALLET CLÁSICO'"
  [imagen]="'assets/carrusel 1.jpg'"
  [descripcion]="'Nuestro taller de ballet clásico tiene como objetivo introducir a niños niñas y jóvenes en el maravilloso mundo de esta disciplina, fomentando no solo el desarrollo técnico y artístico, sino también valores como la disciplina, la expresión corporal y el trabajo en equipo. A través de una metodología adaptada a cada etapa de crecimiento.Nuestro taller es un espacio donde la elegancia, el esfuerzo y la pasión por la danza se unen para formar artistas y personas integrales '"
  [instructor]="'Belén Estefanía Corres Hernández'"
  [imagenInstructor]="'https://lh3.googleusercontent.com/pw/AP1GczNmU_PxsZKQCq2UA0DpczqzzNbULi0sDqz77HGOYQ1VztSHl-dCYkvqkOfeQqrV5AZMAjFyLdDR_FQow6INsgjdfHl9PD6E-wk4TCLe6WjETQE1NV-sa_hazfqVNsdLl6L3n8s77uuw2Q6o08tZMiKQBA=w691-h923-s-no-gm?authuser=0'"
 [horarios]="[
  ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes'],
  [
    '5:00 – 6:00 (Grupo 1)\n6:00 – 7:00 (Grupo 2)\n7:00 – 8:00 (Grupo 3)',
    '5:00 – 6:00 (Grupo 1)\n6:00 – 7:00 (Grupo 2)\n7:00 – 8:00 (Grupo 3)',
    '5:00 – 6:00 (Grupo 1)\n6:00 – 7:00 (Grupo 2)\n7:00 – 8:00 (Grupo 3)',
    '5:00 – 6:00 (Grupo 1)\n6:00 – 7:00 (Grupo 2)\n7:00 – 8:00 (Grupo 3)',
    '5:00 – 6:00 (Grupo 1)\n6:00 – 7:00 (Grupo 2)\n7:00 – 8:00 (Grupo 3)'
  ]
]"

></app-taller-info>
