

<app-taller-info
  [titulo]="'TALLER DE FOTOGRAFIA'"
  [imagen]="'assets/FOTOGRAFIA1.jpg'"
  [descripcion]="'Nuestro taller de fotografía busca formar creadores visuales con una mirada técnica y artística, capaces de capturar momentos con sensibilidad y propósito. A través de un programa práctico, enseñamos los fundamentos técnicos (manejo de cámara, composición, iluminación y edición) mientras desarrollamos la capacidad de contar historias a través de imágenes, adaptándonos a todos los niveles, desde principiantes hasta entusiastas avanzados.Más allá de dominar equipos y software, cultivamos una perspectiva única en cada participante, fomentando la observación, la creatividad y la expresión personal. Nuestro espacio es un laboratorio de ideas donde la técnica se fusiona con el arte, preparando a los alumnos para proyectos personales o profesionales, siempre con énfasis en el desarrollo de un estilo auténtico y una voz visual propia.'"
  [instructor]="'Guillermo Valencia Gutiérrez'"
  [imagenInstructor]="''"
  [horarios]="[
  ['Martes', 'Jueves'],
  [
    '6:00 PM – 8:00 PM',
    '6:00 PM – 8:00 PM'
  ]
]"

></app-taller-info>


